Subject: Välkommen till Vi i Huset

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>
<body>
<center>
<table cellpadding='0' cellspacing='0' border='0' width='600'>
	<tr><td height='30'>&nbsp;</td></tr>
	<tr><td><a href='http://viihuset.se' target='_blank'><img src='http://viihuset.se/mail/husetLogo.jpg' alt='Vi i Huset' width='185' height='97' /></a></td></tr>
	<tr><td height='10'><img src='http://viihuset.se/mail/trans.gif' alt='' height='10' /></td></tr>
	
	<tr><td style='border: 1px solid #B6CAD3; border-bottom: 0px;'>
		
		<table cellpadding='0' cellspacing='0' border='0' width='100%'>
			<tr><td height='30' colspan='3'>&nbsp;</td></tr>
			<tr>
				<td width='25'>&nbsp;</td>
				<td>
					<table cellpadding='0' cellspacing='0' border='0' width='100%'>
						<tr><td>
							<p style="font: 13px/17px Helvetica, 'Helvetica Neue', Arial; color: #333333; margin: 0 0 1.2em 0; text-align: left;">
								Hej!
							</p>
							<p style="font: 13px/17px Helvetica, 'Helvetica Neue', Arial; color: #333333; margin: 0 0 0.8em 0; text-align: left;">
								Välkommen till Vi i Huset! Nedan har du dina inloggningsuppgifter.
							</p>
							<p style="font: 13px/17px Helvetica, 'Helvetica Neue', Arial; color: #333333; margin: 0 0 0.8em 0; text-align: left;">
								<b>Användarnamn:</b> ##user##
							</p>
							<p style="font: 13px/17px Helvetica, 'Helvetica Neue', Arial; color: #333333; margin: 0 0 0.8em 0; text-align: left;">
								Har ni glömt ert lösenord och behöver erhålla ett nytt, besöker ni ##recover##.
							</p>
							<p style="font: 13px/17px Helvetica, 'Helvetica Neue', Arial; color: #333333; margin: 0 0 0.8em 0; text-align: left;">
								Med vänliga hälsningar!<br />
								Teamet
							</p>
						</td></tr>
					</table>
				</td>
				<td width='25'>&nbsp;</td>
			</tr>
			<tr><td height='25' colspan='3'>&nbsp;</td></tr>
		</table>
		
	</td></tr>
	<tr><td height='8' style='background-color: #A6C02B;'><img src='http://viihuset.se/mail/trans.gif' alt='' height='8' /></td></tr>
	<tr><td height='8'><img src='http://viihuset.se/mail/trans.gif' alt='' height='8' /></td></tr>
	<tr><td style="font: 12px/15px Helvetica, 'Helvetica Neue', Arial; color: #333333;">
		<table cellpadding='0' cellspacing='0' border='0' width='100%'>
			<tr>
				<td width='70%' style="font: 12px/15px Helvetica, 'Helvetica Neue', Arial; color: #333333; padding: 0 0 0 10px; text-align: left;">
					Tobaksspinnargatan 6, 117 36 Stockholm
				</td>
				<td style="font: 12px/15px Helvetica, 'Helvetica Neue', Arial; color: #333333; padding: 0 10px 0 0; text-align: right;">
					Org. number: 969768-9231
				</td>
		</table>
	</td></tr>
	<tr><td height='20'>&nbsp;</td></tr>
</table><!-- D3224A -->
</center>
</body>
</html>
